page-main-symptoms-drc {
    .second-title{
        color: color($colors, secondary);
    }
    .item-img{
        margin-top: -30px !important;
        background: transparent;
        position: relative;
        margin: auto;

    }
    .source-text{
        font-size: 10px;
        text-align: right;

    }
    li{
      margin-top: 5px;
    }
    .visual-header{
        .toolbar-title{
          color: #ffffff;
        }
        .toolbar-background{
            background-color:#546E7A;
        }
        .bar-button-default-md{
            color: color($colors, secondary);
        }
        .bar-buttons-md{
            margin-left: 3%;
        }
        .toolbar-title-md{
          margin-left: 9%;
        }
        #source{
            filter: brightness(1000%);
            width: 25px;
            margin-left: 12px;
        }
        .close-icon{
          color: #ffffff;
        }
    }
    .img-text{
      text-align: center;
      white-space: nowrap;
      font-size: 3.1vw;
      margin-top: 17px;
    }
}
