page-glomerular-filter-rate {

    .visual-header{
      .toolbar-title{
        color: #ffffff;
      }
      .toolbar-background{
          background-color:#546E7A;
      }
      .bar-button-default-md{
          color: color($colors, secondary);
      }
      .bar-buttons-md{
          margin-left: 3%;
      }
      .toolbar-title-md{
        margin-left: 9%;
      }
      .close-icon{
        color: #ffffff;
      }
    }
    .grid-visual{
      margin-top: 0.8em;
      padding: 0;
      .line{
        margin: 0.6em 0em;
        border: 1px solid #DCDCDC;

      }
      .line-pre-input{
        border: 1px solid #DCDCDC;
        margin-top: 0.6em;
      }
      .line-input{
        border: 1px solid #DCDCDC;
      }
      .text-input{
        margin-right: 1.2em;
      }
      .row{
        margin-left: 0.6em;
        display: table;
      }
      .col{
        display: table-cell;
        vertical-align: middle;
        @media screen and (max-width: 360px) {
          font-size: 1.2rem;

        }
      }
      .col-input{
        margin-top: 0;
        width: 120px;
        float: right;

      }
      .checkbox-icon{
        border-radius: 10px;
        border-color: color($colors, secondary);
      }
      .checkbox{
        float: right;
        position: relative;
      }
      .col-checkbox-text{
        color: color($colors, secondary);
        position: relative;
      }
      .checkbox-ios{
        margin-top: -2px;
      }
      .item{
        background-color: transparent;
        padding: 0px;
        text-align: center;
      }
      .item-button{
        background-color: color($colors, primary);
        border-radius: 0px;
        width: 17em;
        height: 3em;
        border-radius: 10px;
      }
      .row-result{
        display: table;
        background-color: rgba(163, 163, 163, 0.5);
        margin-left: 0px;
        height: 2.4em;
        font-size: 1.1em;
        width: 100%;
        .text-result{
          display: table-cell;
          padding: 10px;
          vertical-align: middle;
          width: 100%;
        }
      }
      .final-result-row{
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      .final-result{
        text-align: center;
        margin-top: 2em;
        font-size: 1.3em;
      }
      .btn-row{
        margin-left: auto;
        margin-right: auto;
        display: block;
        .label{
          margin: 13px 0px 13px 0;
        }
      }

    }

}
