page-how-are-you-today {
  .header-class{
    .toolbar-title{
      color: color($colors, primary);
    }
    .bar-button-default-md{
      color: color($colors, secondary);
    }
  }
  .tittle-item .item-inner{
    border: none;
    margin-bottom: -1.2em;
  }
  .list-visual{
    padding: 16px 16px 4px 16px !important;
    .item{
      text-align: center;
      background-color: transparent;

    }
    .label-md{
      text-align: left;
    }
    .how-much-to-drink{
      font-weight: bold;
      color: #ffffff;
      white-space: normal;
      margin-right: 10%;
    }
    .cup-quantity{
      margin-top: 10px;
      color: #ffffff;
      margin-right: 10%;
    }
    .item-md p{
      font-size: 17px;
      color: #ffffff;
    }
    .item-ios p{
      color: #ffffff;
    }
    .line{
      margin-top: 23px;
      border: 1px solid rgba(224, 224, 224, 0.4);
    }

  }
  .list{
     margin: 0px;
  }
  .grid-visual{
    .line{
      border: 1px solid	#E0E0E0;
      width: 100%;
      margin-top: 7px;
      padding: 0px;
    }
    .item{
      background-color: transparent;

    }
    .exam-type{

        white-space: normal;

    }
    .your-shedule{
      font-weight: bold;
      text-align: left;
      font-size: 1em;
      display: block;
    }
  }
  .label{
    color: #ffffff;
  }
  #img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 47.22%;
    margin-top: 25%;
  }
  .img-text{
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  .img-second-text{
    margin-top: -10px;
    text-align: center;
    color: #ffffff;
  }
  .list-shedule-visual{
    .col{
      color: #ffffff;
    }
  }

}
.labels-timer{
  display: block;
  p{
    font-size: 16px;
    color: #ffffff;
  }
}
