page-creatinine {
  ion-card-header {
    font-weight: bold;
  }
  .visual-header{
    .toolbar-title{
      color: color($colors, primary);
    }
    .bar-button-default-md{
      color: color($colors, secondary);
    }
    .calendar-icon{
      margin-right: 10px;
    }
  }
  .fab-visual{
    .fab{
      background-color: color($colors, danger);
    }
    .icon{
      font-size: 2em;
    }
  }
  .list-visual{
    margin: 0;
    .item{
      background: transparent;
    }
  }
  .card{
    border-radius: 10px;
  }
  .card-visual{
    padding: 20px;
    border-radius: 10px;
    .card-content{
      padding: 6px 16px;
    }
    .button{
      border-radius: 5px;
      float: right;
      color: #000000;
    }
    .date-bold{
      font-weight: bold;
    }
    .date-col{
      margin-top: 13px;
      font-weight: bold;
    }
    label{
      color: #222 !important;
    }
  }
  .list-visual{
    margin-top: 15px;
    padding-bottom: 70px;
    .item{
      background: transparent;
      margin-top: -10px;
      padding-left: 0;
      .item-inner{
        padding-right: 0;
      }
    }
    .label{
      margin: 0;
    }
    .bold-text{
      font-weight: bold;
    }
    .icon{
      font-size: 1.6em;
    }
    .grid-visual{
      padding: 0px 4px 15px 4px;
      .col-value{
        text-align: right;
      }
      .text-col{
        align-self: center;
      }
      .row{
        margin-top: 0.7em;
      }

    }
  }
  .fade{
    width: 100%;
    height: 190px;
    bottom: 0;
    filter: blur(21px);
    background-image: linear-gradient(transparent,#000000);
    transition: opacity 0.5s;
  }
  .fade[display="true"]{
    opacity: 1;
  }
  .fade[display="false"]{
    opacity: 0;
  }
  .add-creatinine{
    bottom: 70px;
    height: 45px;
    margin-top: 20px;
    background-color: #ffffff !important;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    .button-inner{
      color: #000000
    }

  }
  .show-graph{
    bottom: 15px;
    height: 45px;
    margin-top: 20px;
    background-color: #ffffff !important;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    .button-inner{
      color: #000000
    }
  }
  #placeholder-size{
    width: 47.22%;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .img-text{
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
  }
  .img-second-text{
    margin-top: -10px;
    text-align: center;
    color: #ffffff;
  }
}
