page-what-iskidneys {
    .second-title{
        color: color($colors, secondary);
    }
    .item-img{
        background: transparent;
        position: relative;
        margin: auto;
        height: 60%;
        width:  60%;
    }
    .source-text{
        font-size: 10px;
        text-align: right;

    }
    .visual-header{
        .toolbar-title{
            color: #ffffff;
        }
        .toolbar-background{
            background-color:#546E7A;
        }
        .bar-button-default-md{
            color: color($colors, secondary);
        }
        .bar-buttons-md{
            margin-left: 3%;
        }
        .toolbar-title-md{
          margin-left: 9%;
        }
        #source{
            filter: brightness(1000%);
            width: 25px;
            margin-left: 12px;
        }
        .close-icon{
          color: #ffffff;
        }
    }
}

