<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class = "header-class" no-border>

    <ion-navbar>
      <ion-title>{{ 'CHANGE_PASSWORD.TITLE' | translate }}</ion-title>
    </ion-navbar>

  </ion-header>


<ion-content>
  <form [formGroup]="updatePassword">
    <ion-grid class = "grid-visual">
      <!--<ion-row class = "row-input">
        <ion-col>
          <label position = "floating">Nova senha</label>
          <ion-input  formControlName="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row class = "row-input">
        <ion-col>
          <label position = "floating">Confirmar nova senha</label>
          <ion-input formControlName = "passwordConf" ></ion-input>
        </ion-col>
      </ion-row>-->
      <ion-item>
        <ion-label floating>{{ 'CHANGE_PASSWORD.TEXT1' | translate }}</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'CHANGE_PASSWORD.TEXT2' | translate }}</ion-label>
        <ion-input formControlName="passwordConf"></ion-input>
      </ion-item>
      <ion-row>
        <ion-item no-lines *ngIf = "updatePassword.get('password').hasError('minlength') && updatePassword.get('password').touched" class = "errorValidation">
          <div>{{ 'CHANGE_PASSWORD.VALIDATION_ERROR1' | translate }}</div>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-lines *ngIf = "passwordValid == true && updatePassword.value.password != null && updatePassword.get('passwordConf').touched" class = "errorValidation">
          <div>{{ 'CHANGE_PASSWORD.VALIDATION_ERROR2' | translate }}</div>
        </ion-item>
      </ion-row>
    </ion-grid>
    <ion-row class = "end-buttons">
      <ion-col>
        <label (click) = "dismiss()">{{ 'CHANGE_PASSWORD.OPTION.CANCEL' | translate }}</label>
      </ion-col>
      <ion-col>
        <label (click) = "changePassword()">{{ 'CHANGE_PASSWORD.OPTION.OK' | translate }}</label>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
