page-what-is-drc {
    .second-title{
        color: color($colors, secondary);
    }
    .item-color{
        background: transparent;
    }
    .source-text{
        font-size: 10px;
        text-align: right;

    }
    img{
      width: 40px;
      max-width: none;
    }
    .row{
      display: table;
    }
    .col{
      display: table-cell;
      vertical-align: middle;
    }
    .visual-header{
      .toolbar-title{
        color: #ffffff;
      }
      .toolbar-background{
          background-color:#546E7A;
      }
      .bar-button-default-md{
          color: color($colors, secondary);
      }
      .bar-buttons-md{
          margin-left: 3%;
      }
      .toolbar-title-md{
        margin-left: 9%;
      }
      #source{
          filter: brightness(1000%);
          width: 25px;
          margin-left: 12px;
      }
      .close-icon{
        color: #ffffff;
      }
    }
}
